.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85.3vh;
}

.auth {
    border: 1px solid grey;
    width: 40%;
    padding: 1rem;
    border-radius: 1rem;
}

.links {
    display: none;
}

.open {
    display: block;
}

.alert {
    transition: .6s;
    border: 1px solid black;
}

.alert:hover {
    cursor: pointer;
    opacity: .7;
    border: 1px solid black;
    color: black;
    transition: .6s;
    box-shadow: 0px 0px 5px 5px rgb(231, 87, 87);
}
